<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=tcp:sql2k1701.discountasp.net; Initial Catalog=SQL2017_948528_newwaytrucks; Persist Security Info=True;User ID=SQL2017_948528_newwaytrucks_user;Password=nwt@bsc;" providerName="System.Data.SqlClient" />
    <add name="NewWayModelContainer" connectionString="metadata=res://*/App_Code.NewWayModel.csdl|res://*/App_Code.NewWayModel.ssdl|res://*/App_Code.NewWayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sql2k1701.discountasp.net;initial catalog=SQL2017_948528_newwaytrucks;persist security info=True;user id=SQL2017_948528_newwaytrucks_user;password=nwt@bsc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- NWT Parts Special - Leave extension off, page auto adds png/.pdf-->
    <add key="NWT::PartsSpecials" value="Specials-Dec-2017" />
    <!-- SendGrid Credentials-->
    <add key="emailServiceUserName" value="azure_f3a29dccd5725d18a89b98ee27ba3415@azure.com" />
    <add key="emailServicePassword" value="k1ut5N6D5gaJ3bG" />
    <!-- Twilio Credentials-->
    <!--<add key="SMSSID" value="ACa0d17751f65bca232055cb413b6487a3" />
    <add key="SMSAuthToken" value="ca229344214521f4ef857688324dde1a" />
    <add key="SMSPhoneNumber" value="712-883-0212" />-->
  </appSettings>
  <system.web>
    <!-- To view the trace log go to domain.com/trace.axd !Important make sure to have the enable set to false on a live site-->
    <trace enabled="true" />
    <!-- !Important Set mode to On on a live site-->
    <customErrors mode="Off" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="60000" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </handlers>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <!-- Allow for viewing of svg files-->
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <!-- End svg files -->
        <!--<rewrite>
			<rewriteMaps configSource="URLRewrites.config" />
		      <rules>
		        <rule name="URLRewrites">
		          <match url=".*" />
		          <conditions logicalGrouping="MatchAny">
		            <add input="{Redirects:{REQUEST_URI}}" pattern="(.+)" />
		          </conditions>
		          <action type="Redirect" url="{C:1}" appendQueryString="false" />
		        </rule>
		        <rule name="newwaytrucks.com" stopProcessing="true">
		          <match url=".*" />
		          <conditions>
		            <add input="{HTTP_HOST}" pattern="^(www.)?newwaytrucks.com" />
		          </conditions>
		          <action type="Redirect" url="https://refusetrucks.scrantonmfg.com/{R:0}" />
		        </rule>
		        <rule name="Redirects for deal locator page">
		          <match url="^news_resources/(.*).asp$" />
		          <action type="Rewrite" url="news-resources/{R:1}.asp" />
		        </rule>
		        <rule name="Rewrite for news pages" stopProcessing="true">
		          <match url="^dealer-locator/(.*).asp$" />
		          <action type="Redirect" url="distributor-locator/{R:1}.asp" />
		        </rule>
		        <rule name="Redirect to https" stopProcessing="true">
		          <match url="(.*)" />
		          <conditions>
		            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
		          </conditions>
		          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
		        </rule>
		      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <location path="new-way-dealers">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Dealer" />
        <allow roles="Pricing" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="pricing">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Pricing" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="web-management">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>